TD6/Soap Client/Connected Services/MathOperations/MathOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MathOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MathsLibrary/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MathsLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathsOperations_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Sub_InputMessage">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Mul_InputMessage">
    <wsdl:part name="parameters" element="tns:Mul" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Mul_OutputMessage">
    <wsdl:part name="parameters" element="tns:MulResponse" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Div_InputMessage">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="IMathsOperations_Div_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathsOperations">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathsOperations/Add" message="tns:IMathsOperations_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathsOperations/AddResponse" message="tns:IMathsOperations_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathsOperations/Sub" message="tns:IMathsOperations_Sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathsOperations/SubResponse" message="tns:IMathsOperations_Sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathsOperations/Mul" message="tns:IMathsOperations_Mul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathsOperations/MulResponse" message="tns:IMathsOperations_Mul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathsOperations/Div" message="tns:IMathsOperations_Div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathsOperations/DivResponse" message="tns:IMathsOperations_Div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathsOperations" type="tns:IMathsOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMathsOperations/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/IMathsOperations/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap:operation soapAction="http://tempuri.org/IMathsOperations/Mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/IMathsOperations/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathOperations">
    <wsdl:port name="BasicHttpBinding_IMathsOperations" binding="tns:BasicHttpBinding_IMathsOperations">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MathsLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>